---
title: Auria • Graduate Collection
---

<section class="cover">
  <img width="1500" height="2250" class="col-12"
    src="/images/1500/auria-graduate-collection-01.jpg"
    data-image-medium-src="/images/1500/auria-graduate-collection-01.jpg"
    data-image-large-src="/images/3000/auria-graduate-collection-01.jpg"
    alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
</section>

<section class="intro">

  <img width="1000" height="1559" class="col-8"
      src="/images/500/auria-graduate-collection-02.jpg"
      data-image-medium-src="/images/1000/auria-graduate-collection-02.jpg"
      data-image-large-src="/images/2000/auria-graduate-collection-02.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);"
      data-top-bottom="transform:scale(1) translateY(-240px);">

  <div>
    <h2>
      Graduate Collection
    </h2>
    <p>
      Winner of the ‘Fashion Innovation Award’ at the London College of Fashion
      Graduate runway show 2012.
    </p>
  </div>

</section>

<section class="lookbook">

  <img width="500" height="759" class="col-3 left-1"
      src="/images/250/auria-graduate-collection-08.jpg"
      data-image-medium-src="/images/500/auria-graduate-collection-08.jpg"
      data-image-large-src="/images/1000/auria-graduate-collection-08.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-top: 120px; z-index: 1;"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);">

  <img width="750" height="1125" class="col-6 left-2"
      src="/images/375/auria-graduate-collection-07.jpg"
      data-image-medium-src="/images/750/auria-graduate-collection-07.jpg"
      data-image-large-src="/images/1500/auria-graduate-collection-07.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-top: -480px; margin-left: 33.5%"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);"
      data-top-bottom="transform:scale(1) translateY(-120px);">

  <img width="500" height="759" class="col-4 left-6"
      src="/images/250/auria-graduate-collection-05.jpg"
      data-image-medium-src="/images/500/auria-graduate-collection-05.jpg"
      data-image-large-src="/images/1000/auria-graduate-collection-05.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-top: 120px; z-index: 1"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);">

  <img width="1000" height="1499" class="col-7"
      src="/images/500/auria-graduate-collection-06.jpg"
      data-image-medium-src="/images/1000/auria-graduate-collection-06.jpg"
      data-image-large-src="/images/2000/auria-graduate-collection-06.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-top: -360px; margin-right: 33.4%;"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);"
      data-top-bottom="transform:scale(1) translateY(-240px);">

  <img width="1000" height="1499" class="col-7 left-0"
      src="/images/500/auria-graduate-collection-04.jpg"
      data-image-medium-src="/images/1000/auria-graduate-collection-04.jpg"
      data-image-large-src="/images/2000/auria-graduate-collection-04.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-top: 120px;"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);"
      data-top-bottom="transform:scale(1) translateY(-240px);">

  <img width="500" height="750" class="col-4 left-1"
      src="/images/250/auria-graduate-collection-03.jpg"
      data-image-medium-src="/images/500/auria-graduate-collection-03.jpg"
      data-image-large-src="/images/1000/auria-graduate-collection-03.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="margin-bottom: 480px;"
      data-bottom-top="opacity: 0; transform: scale(1.03) translateY(80px);"
      data--240-bottom-top="opacity: 1; transform:scale(1) translateY(0px);">

</section>
