---
title: Auria • Graduate Collection
---

<!-- Header -->
<h1>
  Auria
</h1>

<!-- Collection -->
<article class="collection">

  <section class="cover">

    <img width="1500" height="2250" class="col-12"
      src="/images/1500/auria-graduate-collection-01.jpg"
      data-image-medium-src="/images/1500/auria-graduate-collection-01.jpg"
      data-image-large-src="/images/3000/auria-graduate-collection-01.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
      style="top: 0 !important">

  </section>

  <section class="intro">

    <div>
      <h2>
        Graduate Collection
      </h2>
      <p>
        Winner of the ‘Fashion Innovation Award’ at the London College of Fashion
        Graduate runway show 2012.
      </p>
    </div>

    <img width="1000" height="1559" class="col-8"
        src="/images/625/auria-graduate-collection-02.jpg"
        data-image-medium-src="/images/1000/auria-graduate-collection-02.jpg"
        data-image-large-src="/images/2000/auria-graduate-collection-02.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman">

  </section>

  <section class="lookbook">

    <img width="500" height="759" class="col-3 left-1"
        src="/images/625/auria-graduate-collection-08.jpg"
        data-image-medium-src="/images/500/auria-graduate-collection-08.jpg"
        data-image-large-src="/images/1000/auria-graduate-collection-08.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
        style="margin-bottom: 50%;">

    <img width="750" height="1125" class="col-6 left-2"
        src="/images/625/auria-graduate-collection-07.jpg"
        data-image-medium-src="/images/750/auria-graduate-collection-07.jpg"
        data-image-large-src="/images/1500/auria-graduate-collection-07.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman">

    <img width="500" height="759" class="col-4"
        src="/images/625/auria-graduate-collection-05.jpg"
        data-image-medium-src="/images/500/auria-graduate-collection-05.jpg"
        data-image-large-src="/images/1000/auria-graduate-collection-05.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
        style="z-index: 1; float:right; padding-right: 19px;">

    <img width="1250" height="1667" class="col-10"
        src="/images/625/auria-graduate-collection-06.jpg"
        data-image-medium-src="/images/1250/auria-graduate-collection-06.jpg"
        data-image-large-src="/images/2500/auria-graduate-collection-06.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
        style="margin-top: -33%;">

    <img width="1000" height="1499" class="col-7"
        src="/images/625/auria-graduate-collection-04.jpg"
        data-image-medium-src="/images/1000/auria-graduate-collection-04.jpg"
        data-image-large-src="/images/2000/auria-graduate-collection-04.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman">

    <img width="500" height="750" class="col-4 left-1"
        src="/images/625/auria-graduate-collection-03.jpg"
        data-image-medium-src="/images/500/auria-graduate-collection-03.jpg"
        data-image-large-src="/images/1000/auria-graduate-collection-03.jpg"
        alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman"
        style="margin-bottom: 35%;">

  </section>

</article>

<nav class="site-map">
  <h3>
    Site Map:
  </h3>
  <ul>
    <li>
      <a href="/spring-summer-2014-collection">S/S 2014 Collection</a>
    </li>
    <li>
      <a href="/spring-summer-2013-collection">S/S 2013 Collection</a>
    </li>
    <li>
      <a href="/graduate-collection" class="scroll" data-target="top">Graduate Collection</a>
    </li>
    <li>
      <a href="http://shop.artwednesday.com/auria.html">Shop</a>
    </li>
    <li>
      <a href="#info" class="scroll" data-target="bottom">Info</a>
    </li>
  </ul>
</nav>
