---
title: Auria • Graduate Collection
---

<section class="cover">
  <img width="1500" height="2250" class="col-12"
    data-stellar-ratio="3"
    src="/images/1500/auria-graduate-collection-01.jpg"
    data-image-medium-src="/images/1500/auria-graduate-collection-01.jpg"
    data-image-large-src="/images/3000/auria-graduate-collection-01.jpg"
    alt="">
</section>

<section class="intro">
  <img width="1000" height="1559" class="col-8"
      src="/images/500/auria-graduate-collection-02.jpg"
      data-image-medium-src="/images/1000/auria-graduate-collection-02.jpg"
      data-image-large-src="/images/2000/auria-graduate-collection-02.jpg"
      alt="">
  <div>
    <h2>
      Graduate Collection
    </h2>
    <p>
      Winner of the ‘Fashion Innovation Award’ at the London College of Fashion
      Graduate runway show 2012.
    </p>
  </div>
</section>

<section class="lookbook">
  <img width="500" height="750" class="col-4"
      src="/images/250/auria-graduate-collection-03.jpg"
      data-image-medium-src="/images/500/auria-graduate-collection-03.jpg"
      data-image-large-src="/images/1000/auria-graduate-collection-03.jpg"
      alt="">
  <img width="500" height="750" class="col-4"
      src="/images/250/auria-graduate-collection-04.jpg"
      data-image-medium-src="/images/500/auria-graduate-collection-04.jpg"
      data-image-large-src="/images/1000/auria-graduate-collection-04.jpg"
      alt="">
  <img width="750" height="1125" class="col-5"
      src="/images/375/auria-graduate-collection-05.jpg"
      data-image-medium-src="/images/750/auria-graduate-collection-05.jpg"
      data-image-large-src="/images/1500/auria-graduate-collection-05.jpg"
      alt="">
  <img width="1250" height="1874" class="col-9"
      src="/images/625/auria-graduate-collection-06.jpg"
      data-image-medium-src="/images/1250/auria-graduate-collection-06.jpg"
      data-image-large-src="/images/2500/auria-graduate-collection-06.jpg"
      alt="">
  <img width="1000" height="1499" class="col-7"
      src="/images/500/auria-graduate-collection-07.jpg"
      data-image-medium-src="/images/1000/auria-graduate-collection-07.jpg"
      data-image-large-src="/images/2000/auria-graduate-collection-07.jpg"
      alt="">
  <img width="750" height="1125" class="col-5"
      src="/images/375/auria-graduate-collection-08.jpg"
      data-image-medium-src="/images/750/auria-graduate-collection-08.jpg"
      data-image-large-src="/images/1500/auria-graduate-collection-08.jpg"
      alt="">
</section>
