// Front-cover element.

.cover {
  display: block;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }
  video {
    height: 100%;
    width: auto;
    float: left;
    -webkit-transform: translate3d(0, 0, 0);
    overflow: hidden;
  }
}


