// Media Queries

// 900px wide screens and below.
@media only screen and (max-width: 1200px) {
  h1 {
    width: 600px;
    background-size: 600px auto;
    margin-left: -300px;
  }
}

// 900px wide screens and below.
@media only screen and (max-width: 900px) {
  h1 {
    width: 500px;
    background-size: 500px auto;
    margin-left: -250px;
  }
}

// 600px wide screens and below.
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2px;
  }
  h1 {
    width: 250px;
    background-size: 250px auto;
    margin-left: -125px;
  }
  .intro {
    margin-bottom: 0;
    padding-top: 2%;
    div {
      top: auto;
      bottom: 20px;
      width: 92%;
      left: 4%;
      z-index: 1;
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-left: 5px;
      }
    }
  }
  .intro img,
  .lookbook img {
    width: 96%;
    left: 0;
    margin: 0 0 0 2% !important;
    padding: 0 !important;
    float: none !important;
  }
  // Footer.
  footer {
    .collections,
    .social,
    .stockists,
    .enquiries,
    .about {
      padding: 20px 0;
      margin: 10px 4%;
      width: 80%;
      float: left;
    }
  }

  nav.site-map li a.scroll[data-target="top"]:before {
    font-size: 8px;
  }


}

// Retina display.
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    background-image: url(/graphics/auria-logo@2x.png);
  }
  nav.site-map h3 {
    background-image: url(/graphics/icon-menu@2x.png);
  }
}
