// Site navigation.

nav.site-map {
  font-weight: 600;
  position: fixed;
  top: 0;
  right: 0;
  padding: 19px;
  z-index: 20;
  h3 {
    font-size: 0;
    width: 44px;
    height: 44px;
    background-image: url(/graphics/icon-menu.png);
    background-size: 44px;
    float: right;
    clear: both;
    cursor: pointer;
    background-color: rgba(21, 21, 21, 0.83);

  }
  ul {
    display: none;
    float: right;
    clear: both;
    width: 260px;
    background-color: rgba(21, 21, 21, 0.83);
  }
  li {
    a {
      display: block;
      width: 100%;
      height: 44px;
      padding: 12px 22px 12px 27px;
      position: relative;
      &:hover {
        background-color: #000;
      }
      // Add a bullet mark to the current section header.
      &.scroll[data-target="top"]:before {
        content: "◆";
        position: absolute;
        left: 10px;
        top: 25%;
      }
    }
  }
  &:hover,
  &.hover {
    ul {
      display: block;
    }
  }

}
