@charset "utf-8";

@import "reset";

// Type.

@font-face {
    font-family: "Edmondsans";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/edmondsans-regular-webfont.eot');
    src: url('/fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('/fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('/fonts/edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');

}

@font-face {
    font-family: "Edmondsans";
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/edmondsans-medium-webfont.eot');
    src: url('/fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('/fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('/fonts/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');

}

@font-face {
    font-family: "Edmondsans";
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/edmondsans-bold-webfont.eot');
    src: url('/fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('/fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('/fonts/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');

}

// Generic.
body {
  background-color: #EEDBDA;
  color: #fff;
  font-family: "Edmondsans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
}

h2 {
  font-size: 90px;
  line-height: 100px;
  font-weight: 800;
  letter-spacing: 4px;
}

h4 {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  display: inline-block;
  height: 18px;
  margin-bottom: 2px;
}

// Header.

h1 {
  position: fixed;
  width: 800px;
  height: 145px;
  left: 50%;
  top: 50%;
  margin: -70px 0 0 -400px;
  background-image: url(/graphics/auria-logo.png);
  background-size: 800px 145px;
  font-size: 0;
  display: block;
  z-index: 10;
  pointer-events: none;
}

nav.site-map {
  font-weight: 600;
  position: fixed;
  top: 0;
  right: 0;
  padding: 22px;
  z-index: 20;
  h3 {
    font-size: 0;
    width: 44px;
    height: 44px;
    background-image: url(/graphics/icon-menu.png);
    background-size: 44px;
    float: right;
    clear: both;
    cursor: pointer;
    background-color: rgba(21, 21, 21, 0.83);

  }
  ul {
    display: none;
    float: right;
    clear: both;
    width: 260px;
    background-color: rgba(21, 21, 21, 0.83);
  }
  li {

    a {
      display: block;
      width: 100%;
      height: 44px;
      padding: 12px 22px;

      &:hover {
        background-color: #000;
      }
    }
  }
  &:hover {
    ul {
      display: block;
    }
  }

}

// Cover

.cover {
  overflow: hidden;
}

// Footer.
footer {
  background-color: #000;
  background-color: rgba(0,0,0,0.83);
  overflow: hidden;
  // min-height: 560px;
  .collections {
    width: 62.66%;
    padding: 60px 0;
    margin: 0 2%;
    float: left;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
  .social,
  .stockists,
  .enquiries {
    padding: 60px 0;
    margin: 0 2%;
    width: 12.66%;
    float: left;
  }
  .about {
    padding: 60px 0;
    margin: 0 2%;
    float: right;
    width: 29.33%;
    p {
      max-width: 330px;
      margin: 10px 0;
    }
  }
}

// Collections.

.intro {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CC9390), to(#EEDBDA));
  background: -webkit-linear-gradient(top, #CC9390, #EEDBDA);
  background:    -moz-linear-gradient(top, #CC9390, #EEDBDA);
  background:     -ms-linear-gradient(top, #CC9390, #EEDBDA);
  background:      -o-linear-gradient(top, #CC9390, #EEDBDA);
  background:         linear-gradient(top, #CC9390, #EEDBDA);
  position: relative;
  overflow: hidden;
  // margin-top: -10px;
  img {
    margin-top: 240px;
    position: relative;
  }
  div {
    position: absolute;
    top: 360px;
    width: 41.7%;
    left: 50%;
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      margin-left: 5px;
    }
  }
}

.lookbook {
  margin-bottom: 240px;
  overflow: hidden;
  img {
    position: relative;
  }
}

img {
  height: auto;
}

.col-12 { width: 100%;  }
.col-11 { width: 91.7%; }
.col-10 { width: 83.4%; }
.col-9  { width: 75%;   }
.col-8  { width: 66.7%; }
.col-7  { width: 58.4%; }
.col-6  { width: 50%;   }
.col-5  { width: 41.7%; }
.col-4  { width: 33.4%; }

.left-1 { left: 8.4%;   }
.left-2 { left: 16.7%;  }
.left-3 { left: 25%;    }
.left-4 { left: 33.4%;  }
.left-5 { left: 41.7%;  }
.left-6 { left: 50%;    }
.left-7 { left: 58.4%;  }
.left-8 { left: 66.7%;  }



// Media Queries

// 900px wide screens and below.
@media only screen and (max-width: 1200px) {
  h1 {
    width: 600px;
    background-size: 600px auto;
    margin-left: -300px;
  }
}

// 900px wide screens and below.
@media only screen and (max-width: 900px) {
  h1 {
    width: 500px;
    background-size: 500px auto;
    margin-left: -250px;
  }
}

// 900px wide screens and below.
@media only screen and (max-width: 600px) {
  h1 {
    width: 250px;
    background-size: 250px auto;
    margin-left: -125px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    background-image: url(/graphics/auria-logo@2x.png);
  }
  nav.site-map h3 {
    background-image: url(/graphics/icon-menu@2x.png);
  }
}
