<!doctype html>
<html>
  <head>
    <title><%= data.page.title || "Auria" %></title>
    <!-- Technical Formating Meta Tags -->
    <meta http-equiv="content-type"     content="charset=utf-8">
    <meta http-equiv="content-language" content="en-gb">
    <meta http-equiv="expires"          content="Wed, 19 Jan 2013 26:29:02 GMT">
    <!-- Authoring Meta Tags -->
    <meta name="author"    content="Author Name">
    <meta name="publisher" content="Publisher Name">
    <meta name="copyright" content="2013 by Nuno Coelho Santos">
    <meta name="host"      content="example.com">
    <meta name="generator" content="Sublime Text 2">
    <!-- Search Eengine and Browser Meta Tags -->
    <meta name="description"   content="Site description"> <!-- Keep under 500 characters -->
    <meta name="abstract"      content="Viewpoints, Tools, and Content for Webmasters"> <!-- Keep uder 100 characters -->
    <meta name="keywords"      content="site, keywords">
    <meta name="revisit-after" content="14 days">
    <meta name="rating"        content="14 years"> <!-- General, 14 Years, Mature or Restricted -->
    <!-- Browser Compability Meta Tag -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Open Graph Meta Tags (ogp.me) -->
    <meta property="og:image"            content="http://example.com/image.jpg">
    <meta property="og:image"            content="http://example.com/image2.jpg">
    <meta property="og:site_name"        content="Site Name">
    <meta property="og:title"            content="Page Title">
    <meta property="og:description"      content="Description of this web page">
    <meta property="og:type"             content="article">
    <!-- Favicon Meta Tags (use both) -->
    <link rel="icon"          href="http://example.com/favicon.ico">
    <link rel="shortcut icon" href="http://example.com/favicon.ico">
    <!-- Apple iOS Meta Tags -->
    <meta name="viewport"                              content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="format-detection"                      content="telephone=yes">
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "all" %>
    <!-- Humans -->
    <link rel="author" href="/humans.txt">
  </head>

  <body class="<%= page_classes %>">

    <!-- Header -->
    <h1 data-0="opacity: 1;" data-240="opacity: 0;">
      Auria
    </h1>

    <nav class="site-map">
      <h3>
        Site Map:
      </h3>
      <ul>
        <li>
          <a href="/spring-summer-2013-collection">Spring/Summer 2013 Collection</a>
        </li>
        <li>
          <a href="/graduate-collection">Graduate Collection</a>
        </li>
        <li>
          <a href="/">Shop</a>
        </li>
        <li>
          <a href="#info">Info</a>
        </li>
      </ul>
    </nav>

    <!-- Collection -->
    <article class="collection">
      <%= yield %>
    </article>

    <!-- Navigation -->
    <nav class="previous-next-nav">
      <h4>
        Navigate Collections:
      </h4>
      <ul>
        <li>
          <a href="/spring-summer-2013-collection">Spring/Summer 2013 Collection</a>
        </li>
        <li>
          <a href="/graduate-collection">Graduate Collection</a>
        </li>
      </ul>
    </nav>

    <!-- Footer -->
    <footer id="info">
      <div class="collections">
        <h4>
          Collections:
        </h4>
        <ul>
          <li>
            <a href="/spring-summer-2013-collection">Spring/Summer 2013 Collection</a>
          </li>
          <li>
            <a href="/graduate-collection">Graduate Collection</a>
          </li>
        </ul>
      </div>
      <div class="about">
        <h4>
          About Auria:
        </h4>
        <p>
          Auria’s luxury swimwear comes in every gradient of acidic pastel, in
          a nod to the candy hued nostalgia for LA beach society in the
          eighties. Artemis’s feathered arrows rain down from the clouds, with
          prints created in collaboration with illustrator Margot Bowman. In
          contrast with the fun and experimental graphics, the cut of the
          garments are clean, sexy and accessible.
        </p>
        <p>
          After a day on the sand, Auria’s swimwear can be worn straight out to
          dinner or drinks. The one pieces look great peeping above the
          waistband of denim cut offs. Then again they could just be worn by
          themselves with a pair of heels if you’re feeling the collection’s
          ‘Showgirls’ vibe.” (any collection after will have pictures on a
          separate page so the collections are not confused).
        </p>
      </div>
      <div class="social">
        <h4>
          Social:
        </h4>
        <ul>
          <li>
            <a href="" target="_blank">Facebook</a>
          </li>
          <li>
            <a href="" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="stockists">
        <h4>
          Stockists:
        </h4>
        <ul>
          <li>
            <a href="" target="_blank">Urban Outfitters</a>
          </li>
          <li>
            <a href="" target="_blank">YOOX</a>
          </li>
        </ul>
      </div>
      <div class="enquiries">
        <h4>
          Enquiries:
        </h4>
        <ul>
          <li>Say Hi</li>
          <li>Cosultancy/Commission</li>
          <li>Sustainability</li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/skrollr.min.js"></script>
    <script src="/javascripts/all.js"></script>

    <!-- Google Analytics
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-XX']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script> -->

  </body>
</html>
