<!-- Footer -->
<footer id="info">
  <div class="collections">
    <h4>
      All Collections:
    </h4>
    <ul>
      <li>
        <a href="/spring-summer-2014-collection">S/S 2014 Collection</a>
      </li>
      <li>
        <a href="/spring-summer-2013-collection">S/S 2013 Collection</a>
      </li>
      <li>
        <a href="/graduate-collection">Graduate Collection</a>
      </li>
    </ul>
  </div>
  <div class="about">
    <h4>
      About Auria:
    </h4>
    <p>
      Diana Auria launched her brand after completing the Contour degree at London
      College of Fashion in 2012. She won the award for ‘Fashion Innovation’ for her
      graduate collection which specialised in swimwear and as a result was covered in
      publications such as Vogue and WGSN. During studying, Auria applied her talents
      working with Fleet Ilya, Zandra Rhodes and Kiki de Montparnasse in New York,
      giving her a grounding in the high end fashion industry. Following the success
      of her graduate collection, she decided to extend it to a full collection and
      debuted it at London Fashion Week as part of the Estehica exhibition.
    </p>
    <p>
      Her craft and care is balanced with modern innovation and accessible style.
      Designed and developed in London, and manufactured in England, the swimwear is
      ethically aware whilst using only the finest materials in its production. The
      swimwear is made us using 100% recycled polyamide made from discarded products
      like fishing nets and carpet. It may sound a little strange to wear a bikini
      made of carpet but reassuringly the fabric itself is in no way reminiscent of
      it’s flooring past. Auria recently was Highly Recommended as ‘Best Sustainable
      Fashion Designer’ at the prestigious Sustainable City Awards 2013. The award was
      sponsored by the British Fashion Council and presented to Diana Auria for her
      unique work with ethical fashion.
    </p>
  </div>
  <div class="social">
    <h4>
      Social:
    </h4>
    <ul>
      <li>
        <a href="https://www.facebook.com/aurialondon" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="http://instagram.com/auria_london" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://twitter.com/auria_london" target="_blank">Twitter</a>

      </li>
    </ul>
  </div>
  <div class="enquiries">
    <h4>
      Enquiries:
    </h4>
    <ul>
      <li>
        <a href="mailto:diana@auria-london.com">diana@auria-london.com</a>
      </li>
      <li>
        <a href="mailto:ella@elladrorpr.com">ella@elladrorpr.com</a>
      </li>
      <li>
        <a href="mailto:ash@elladrorpr.com">ash@elladrorpr.com</a>
      </li>
      <li>
        <a href="http://www.elladrorpr.com/" target="_blank">www.elladrorpr.com</a>
      </li>
    </ul>
  </div>
</footer>
