<!-- Springboard -->

<div class="springboard">
  <ul>
    <li>
      <a href="">
        Spring/Summer 2014
      </a>
      <a href="">
        <img src="">
      </a>
    </li>
    <li>
      <a href="">
        Spring/Summer 2013
      </a>
      <a href="">
        <img src="">
      </a>
    </li>
    <li>
      <a href="">
        Shop
      </a>
      <a href="">
        <img src="">
      </a>
    </li>
  </ul>
</div>
