---
title: Auria • S/S 2014 Collection
---

<!-- Header -->
<h1>
  Auria
</h1>

<!-- Collection -->
<article class="collection">

  <section class="cover">

    <video id="cover-video" width="1920" height="1080" autoplay="autoplay" loop="true">
      <source src="/videos/auria-spring-summer-2014-collection.mp4" type="video/mp4">
      <source src="/videos/auria-spring-summer-2014-collection.m4v" type="video/m4v">
      <source src="/videos/auria-spring-summer-2014-collection.ogg" type="video/ogg">
    </video>

    <img width="1500" height="2250" class="col-12"
      src="/images/750/auria-graduate-collection-01.jpg"
      data-image-medium-src="/images/1500/auria-graduate-collection-01.jpg"
      data-image-large-src="/images/3000/auria-graduate-collection-01.jpg"
      alt="Product shot of the Graduate Swimwear Collection by Auria and Margot Bowman">

  </section>

  <section class="intro">

    <div>
      <h2>
        S/S 2014 Collection
      </h2>
    </div>

    <img width="1000" height="1449" class="col-8"
        src="/images/500/auria-spring-summer-2014-collection-01.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2014-collection-01.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2014-collection-01.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

  </section>

  <section class="lookbook">

    <img width="1000" height="1449" class="col-8 left-4"
        src="/images/500/auria-spring-summer-2014-collection-02.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2014-collection-02.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2014-collection-02.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2014-collection-04.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-04.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-04.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2014-collection-05.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-05.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-05.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="float:right">

    <img width="1500" height="2000" class="col-12"
        src="/images/750/auria-spring-summer-2014-collection-06.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2014-collection-06.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2014-collection-06.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5 left-6"
        src="/images/375/auria-spring-summer-2014-collection-07.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-07.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-07.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="z-index: 1">

    <img width="1000" height="1449" class="col-7"
        src="/images/500/auria-spring-summer-2014-collection-08.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2014-collection-08.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2014-collection-08.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="margin-top: -50%">

    <img width="750" height="1001" class="col-5 left-7"
        src="/images/375/auria-spring-summer-2014-collection-09.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-09.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-09.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="1500" height="2000" class="col-11"
        src="/images/750/auria-spring-summer-2014-collection-10.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2014-collection-10.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2014-collection-10.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5 left-1"
        src="/images/375/auria-spring-summer-2014-collection-11.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-11.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-11.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="z-index: 1">

    <img width="1250" height="1667" class="col-9 left-3"
        src="/images/625/auria-spring-summer-2014-collection-12.jpg"
        data-image-medium-src="/images/1250/auria-spring-summer-2014-collection-12.jpg"
        data-image-large-src="/images/2500/auria-spring-summer-2014-collection-12.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="margin-top: -33%">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2014-collection-13.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-13.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-13.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2014-collection-14.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-14.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-14.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="float: right;">

    <img width="1000" height="1449" class="col-8 left-2"
        src="/images/500/auria-spring-summer-2014-collection-15.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2014-collection-15.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2014-collection-15.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5 left-1"
        src="/images/375/auria-spring-summer-2014-collection-16.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-16.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-16.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman"
        style="margin-bottom: 50%">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2014-collection-17.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2014-collection-17.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2014-collection-17.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

    <img width="1000" height="1449"class="col-8 left-2"
        src="/images/500/auria-spring-summer-2014-collection-18.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2014-collection-18.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2014-collection-18.jpg"
        alt="Product shot of the Spring/Summer 2014 Collection by Auria and Margot Bowman">

  </section>

</article>

<nav class="site-map">
  <h3>
    Site Map:
  </h3>
  <ul>
    <li>
      <a href="/spring-summer-2014-collection" class="scroll" data-target="top">S/S 2014 Collection</a>
    </li>
    <li>
      <a href="/spring-summer-2013-collection">S/S 2013 Collection</a>
    </li>
    <li>
      <a href="/graduate-collection">Graduate Collection</a>
    </li>
    <li>
      <a href="http://shop.artwednesday.com/auria.html">Shop</a>
    </li>
    <li>
      <a href="#info" class="scroll" data-target="bottom">Info</a>
    </li>
  </ul>
</nav>
