---
title: Auria • S/S 2013 Collection
---

<!-- Header -->
<h1
  data-0="opacity: 1; transform: translateY(0px);"
  data-240="opacity: 0; transform: translateY(120px);">
  Auria
</h1>

<nav class="site-map">
  <h3>
    Site Map:
  </h3>
  <ul>
    <li>
      <a href="/spring-summer-2014-collection">S/S 2014 Collection</a>
    </li>
    <li>
      <a href="/spring-summer-2013-collection" class="scroll-to-top">S/S 2013 Collection</a>
    </li>
    <li>
      <a href="/graduate-collection">Graduate Collection</a>
    </li>
    <li>
      <a href="/">Shop</a>
    </li>
    <li>
      <a href="#info" class="scroll-to-bottom">Info</a>
    </li>
  </ul>
</nav>

<!-- Collection -->
<article class="collection">

  <section class="cover">
    <img width="1500" height="2000" class="col-12"
      src="/images/1500/auria-spring-summer-2013-collection-02.jpg"
      data-image-medium-src="/images/1500/auria-spring-summer-2013-collection-02.jpg"
      data-image-large-src="/images/3000/auria-spring-summer-2013-collection-02.jpg"
      alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman"
      style="position: relative; top: -50%;"
      data-start="transform: translateY(0px);"
      data-1000-start="transform: translateY(480px);">
  </section>

  <section class="intro">

    <div>
      <h2>
        Spring/Summer 2013 Collection
      </h2>
    </div>

    <img width="1000" height="1499" class="col-8"
        src="/images/500/auria-spring-summer-2013-collection-04.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2013-collection-04.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2013-collection-04.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

  </section>

  <section class="lookbook">

    <img width="1500" height="2000" class="col-12"
        src="/images/750/auria-spring-summer-2013-collection-05.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2013-collection-05.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2013-collection-05.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1250" height="1667" class="col-9 left-3"
        src="/images/625/auria-spring-summer-2013-collection-06.jpg"
        data-image-medium-src="/images/1250/auria-spring-summer-2013-collection-06.jpg"
        data-image-large-src="/images/2500/auria-spring-summer-2013-collection-06.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1250" height="1667" class="col-9"
        src="/images/625/auria-spring-summer-2013-collection-03.jpg"
        data-image-medium-src="/images/1250/auria-spring-summer-2013-collection-03.jpg"
        data-image-large-src="/images/2500/auria-spring-summer-2013-collection-03.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1000" height="1499" class="col-8 left-2"
        src="/images/500/auria-spring-summer-2013-collection-07.jpg"
        data-image-medium-src="/images/1000/auria-spring-summer-2013-collection-07.jpg"
        data-image-large-src="/images/2000/auria-spring-summer-2013-collection-07.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1500" height="2000" class="col-12"
        src="/images/750/auria-spring-summer-2013-collection-01.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2013-collection-01.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2013-collection-01.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5 left-7"
        src="/images/375/auria-spring-summer-2013-collection-08.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2013-collection-08.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2013-collection-08.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1500" height="2000" class="col-12"
        src="/images/750/auria-spring-summer-2013-collection-09.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2013-collection-09.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2013-collection-09.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2013-collection-10.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2013-collection-10.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2013-collection-10.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2013-collection-11.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2013-collection-11.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2013-collection-11.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="750" height="1001" class="col-5"
        src="/images/375/auria-spring-summer-2013-collection-12.jpg"
        data-image-medium-src="/images/750/auria-spring-summer-2013-collection-12.jpg"
        data-image-large-src="/images/1500/auria-spring-summer-2013-collection-12.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

    <img width="1500" height="2000" class="col-12"
        src="/images/750/auria-spring-summer-2013-collection-13.jpg"
        data-image-medium-src="/images/1500/auria-spring-summer-2013-collection-13.jpg"
        data-image-large-src="/images/3000/auria-spring-summer-2013-collection-13.jpg"
        alt="Product shot of the Spring/Summer 2013 Collection by Auria and Margot Bowman">

  </section>

</article>

<!-- Navigation -->
<nav class="previous-next-nav">
  <h4>
    Navigate Collections:
  </h4>
  <ul>
    <li>
      <a href="/spring-summer-2013-collection">Spring/Summer 2013 Collection</a>
    </li>
    <li>
      <a href="/graduate-collection">Graduate Collection</a>
    </li>
  </ul>
</nav>

<!-- Footer -->
<footer id="info">
  <div class="collections">
    <h4>
      Collections:
    </h4>
    <ul>
      <li>
        <a href="/spring-summer-2013-collection">Spring/Summer 2013 Collection</a>
      </li>
      <li>
        <a href="/graduate-collection">Graduate Collection</a>
      </li>
    </ul>
  </div>
  <div class="about">
    <h4>
      About Auria:
    </h4>
    <p>
      Auria’s luxury swimwear comes in every gradient of acidic pastel, in
      a nod to the candy hued nostalgia for LA beach society in the
      eighties. Artemis’s feathered arrows rain down from the clouds, with
      prints created in collaboration with illustrator Margot Bowman. In
      contrast with the fun and experimental graphics, the cut of the
      garments are clean, sexy and accessible.
    </p>
    <p>
      After a day on the sand, Auria’s swimwear can be worn straight out to
      dinner or drinks. The one pieces look great peeping above the
      waistband of denim cut offs. Then again they could just be worn by
      themselves with a pair of heels if you’re feeling the collection’s
      ‘Showgirls’ vibe.” (any collection after will have pictures on a
      separate page so the collections are not confused).
    </p>
  </div>
  <div class="social">
    <h4>
      Social:
    </h4>
    <ul>
      <li>
        <a href="" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
  <div class="stockists">
    <h4>
      Stockists:
    </h4>
    <ul>
      <li>
        <a href="" target="_blank">Urban Outfitters</a>
      </li>
      <li>
        <a href="" target="_blank">YOOX</a>
      </li>
    </ul>
  </div>
  <div class="enquiries">
    <h4>
      Enquiries:
    </h4>
    <ul>
      <li>Say Hi</li>
      <li>Cosultancy/Commission</li>
      <li>Sustainability</li>
    </ul>
  </div>
</footer>
