<!doctype html>
<html>
  <head>
    <title><%= data.page.title || "Auria" %></title>
    <!-- Meta Tags -->
    <% partial "/partials/meta-tags" %>
    <meta http-equiv="refresh" content="0; url=/spring-summer-2014-collection/">
  </head>
</html>
